body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.grid {
  display: grid;
  /* justify-items: center; */
  grid-template-columns: 33% 33% 33%;
}
.option {
  font-weight: bold;
  color: beige;
  align-self: end;
}
@media (max-width: 400px){
  .option{
    font-size: 1rem;
  }
}  
.game2 {
  margin-top: 18%;
}
.image{
  width: 18vw; height: auto
}
.image:hover {
  transform: scale(1.1);
}
@media (min-width: 600px){
  .image{
  width: 108px; height: auto
  }
}
