#grid {
  margin-left: auto;
  margin-right: auto;
  /* width: 60vh; */
  /* height: 300px; */
  display: grid;
  grid-template-columns: 31% 31% 31%;
  grid-template-rows: 3;
  overflow: auto;
  resize: vertical;
  max-width: 60vh;
  margin-top: 10vh;
}
.gridParent {
  text-align: center;
  display: flex;
}

body {
  background-color: black;
  text-align: center;
}
h3 {
  font-size:calc(12px + 1.5vw);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.start {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
}
.start:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.playAgainWrapper {
  text-align: center;
}
.hoverEffect:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.card {
  padding: 2%;
  /* user-drag: none; */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.card:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.buttons-wrapper {
  font-size:calc(35px + 2.5vw);
  text-align: center;
  margin-bottom: 2vw;
  color: white;
}
.buttons {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  display: inline-block;
}
button {
  margin: 5px 5px 5px 15px;
  background-color: orangered;
  border: none;
  color: black;
  padding: 0.2rem 0.4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:calc(6px + 1.5vw);
  border-radius: 50%;
}
@media screen and (min-width: 800px) {
  button {
    font-size: 15px;
  }
}
button:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.topScoresContainer {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}
#topScores {
  color: white;
}
